<!DOCTYPE html>
<html>
    <head>
        <title>Rectangle Helpers Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            body {
                margin: 0;
                user-select: none;
            }
        </style>
    </head>
    <body>
        <h1>Rectangle Helpers</h1>
        <script type="importmap">
            {
                "imports": {
                    "pixi.js": "https://cdn.jsdelivr.net/npm/pixi.js@8/dist/pixi.mjs",
                    "extension": "../dist/extension.mjs"
                }
            }
        </script>
        <script type="module">
            import { Application, Rectangle, Sprite, Texture } from 'pixi.js';
            import 'extension';
            const app = new Application();
            await app.init({ background: '#999' });
            document.body.appendChild(app.canvas);
            app.stage.addChild(new Sprite({
                texture: Texture.WHITE,
                width: 100,
                height: 100,
                x: (app.screen.width - 100) / 2,
                y: (app.screen.height - 100) / 2,
                eventMode: 'static',
                cursor: 'pointer',
                onclick: (event) => {
                    const { rectangle } = event.target.getBounds();
                    // Expand the bounds by 10 pixels!
                    Object.assign(event.target, rectangle.expand(10));
                }
            }));
        </script>
    </body>
</html>
